body{
    font-family: "Lexend", sans-serif;
    background: linear-gradient(to bottom, #000000, #131313) no-repeat center fixed;
    height: 100vh;
    margin: 0;   
    
}

h1{
    font-size: 15vh;
    margin: 0;
}

h1, h2, .logo, .nav-links a:hover{
    background: url(files/g4.png) center/cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}

h2{
    font-style: italic;
    margin: 0;
    font-size: 3.5vh;
}

h3{
    color:white;

}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
    gap:1.5rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}


.nav-links {
    color:white;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.nav-links a:hover {
    transition: color 0.1s ease-in-out;
}

.mobile-navbar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 2000;
    background-color:rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
}

.mobile-navbar a{
    color:white;
    display: flex;
    text-decoration: none;
    font-size: 2rem;
}

.menu-button{
    display: none;;
}

.menu-button, .close-button{
    height: 40px;
    width: 40px;
}

@media (max-width: 768px) {
    
    .nav-links{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

.container{
    padding: 3%;
    padding-top: 80px;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent gray background */
    backdrop-filter: blur(px);
    border-radius: 12px;
}

.icons {
    display: flex;
    gap: 1rem;
    margin-top: 2%;
    color: #8e94c5;
}
.icons img{
    height: 40px;
    width: 40px;
    filter: invert();
}

.gallery {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    column-count: 1;
    column-gap: 1rem;


    @media (min-width: 768px) {
        column-count: 2;
    }

    @media (min-width: 1024px) {
        column-count: 3;
    }
}
  
.gallery img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: block;
    break-inside: avoid;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease;
}
  
.gallery img:hover {
    transform: scale(1.03);
}

.phototext{
    color:white;
    font-style: italic;
    font-weight: normal;
    padding-left: 5%;
}